.confirm-booking form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.confirm-booking form label {
  width: 40%;
  margin-bottom: 15px;
}
